doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/login.css")
    body 
        
        form(action="/users/login", method="post") 
            h2 Login 
            input(type="email", name="email" placeholder="email")
            input(type="password", name="password" placeholder="password")
            button(type="submit") log in