doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/signup.css")
    body 
        
        form(action="/users/add" method="post")
            h1 sign up
            input(type="email" name="email" placeholder="email") 
            input(type="text" name="name" placeholder="name")
            input(type="password" name="password" placeholder="password")
            button(type="submit")  sign up