doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/home.css")
    body 
        .navbar 
            if(user.nom)
                h4="welcome : "+user.nom
                a(href="/logout")  log out
            else
                a(href="/login") login
                a(href="/signup")  signup

        if(user.nom)
            form(action="/questions/add" method="post") 
                input(type="text" name="question" placeholder="ask your question")
                input(type="hidden" name="id" value=`${user.id}`)
                button(type="submit") ask
        h2 questions 
            .questions 
            hr
            each q in questions
                .question 
                    h3=q.content
                    a(href=`/questions/${q._id}`)  answers
                    hr
