doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet" href="./login.css")
    body
        header
            h1 Sign Up
        main
            form(action="/signup" method="post")
                label(for="username") Username:
                input(type="text" name="username" id="username", required)

                label(for="password") Password:
                input(type="password" name="password" id="password", required)
                label(for="password") Verify Password:
                input(type="password" name="password2" id="password", required)

                button(type="submit") Sign Up
