/* General Styles */

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

/* Main Content Styles */

main {
  padding: 20px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 250px;
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
  margin-bottom: 5px;
}

a.delete {
  color: #f00;
  font-weight: bold;
}
